<a href="https://colab.research.google.com/github/Iveynganga/PYTHON-DATA-ANALYSIS/blob/main/PandasWeeklyProjectP4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Iris

### Introduction:

This exercise may seem a little bit strange, but keep doing it.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

In [1]:
import pandas as pd

url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"

iris_data = pd.read_csv(url, header=None)

print(iris_data.head())

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

### Step 3. Assign it to a variable called iris

In [2]:
import pandas as pd

url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"

iris = pd.read_csv(url, header=None)

print(iris.head())

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

### Step 4. Create columns for the dataset

In [ ]:
# 1. sepal_length (in cm)
# 2. sepal_width (in cm)
# 3. petal_length (in cm)
# 4. petal_width (in cm)
# 5. class

In [3]:
columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class']

iris.columns = columns

print(iris.head())

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

### Step 5.  Is there any missing value in the dataframe?

In [4]:
missing_values = iris.isnull().sum()

print("Number of missing values in each column:")
print(missing_values)

Number of missing values in each column:
sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
class           0
dtype: int64

### Step 6.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

In [6]:
import numpy as np

iris.loc[10:29, 'petal_length'] = np.nan

### Step 7. Good, now lets substitute the NaN values to 1.0

In [7]:
iris['petal_length'].fillna(1.0, inplace=True)

### Step 8. Now let's delete the column class

In [8]:
iris.drop(columns=['class'], inplace=True)

### Step 9.  Set the first 3 rows as NaN

In [9]:
iris.iloc[:3, :] = np.nan

### Step 10.  Delete the rows that have NaN

In [10]:
iris.dropna(inplace=True)

### Step 11. Reset the index so it begins with 0 again

In [11]:
iris.reset_index(drop=True, inplace=True)

### BONUS: Create your own question and answer it.

How can you rename columns in a DataFrame?

In [16]:
import pandas as pd

df = pd.DataFrame({'old_column_name': [1, 2, 3]})
print("Original DataFrame:")
print(df)

new_df = df.rename(columns={'old_column_name': 'new_column_name'})
print("\nDataFrame after renaming:")
print(new_df)

Original DataFrame:
   old_column_name
0                1
1                2
2                3

DataFrame after renaming:
   new_column_name
0                1
1                2
2                3