<a href="https://colab.research.google.com/github/Iveynganga/PYTHON-DATA-ANALYSIS/blob/main/PandasDailyPractice4P2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex3 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"

users = pd.read_csv(url, sep='|')

### Step 3. Assign it to a variable called users and use the 'user_id' as index

In [2]:
import pandas as pd

url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"

users = pd.read_csv(url, sep='|').set_index('user_id')

### Step 4. See the first 25 entries

In [ ]:
print(users.head(25))

### Step 5. See the last 10 entries

In [3]:
print(users.tail(10))

         age gender     occupation zip_code
user_id
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

### Step 6. What is the number of observations in the dataset?

In [4]:
num_observations = users.shape[0]

### Step 7. What is the number of columns in the dataset?

In [5]:
num_columns = users.shape[1]

### Step 8. Print the name of all the columns.

In [7]:
column_names = users.columns
print("Name of all the columns:")
for column in column_names:
    print(column)

Name of all the columns:
age
gender
occupation
zip_code

### Step 9. How is the dataset indexed?

In [8]:
index_type = users.index
print("Type of index in the dataset:", index_type)

Type of index in the dataset: Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
       ...
       934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
      dtype='int64', name='user_id', length=943)

### Step 10. What is the data type of each column?

In [ ]:
column_data_types = users.dtypes
print("Data type of each column:")
print(column_data_types)

### Step 11. Print only the occupation column

In [ ]:
occupation_column = users['occupation']
print(occupation_column)

### Step 12. How many different occupations are in this dataset?

In [9]:
num_unique_occupations = users['occupation'].nunique()

### Step 13. What is the most frequent occupation?

In [ ]:
most_frequent_occupation = users['occupation'].value_counts().idxmax()
print("Most frequent occupation:", most_frequent_occupation)

### Step 14. Summarize the DataFrame.

In [ ]:
summary = users.describe()
print(summary)

### Step 15. Summarize all the columns

In [ ]:
summary = users.info()
print(summary)

### Step 16. Summarize only the occupation column

In [ ]:
occupation_summary = users['occupation'].value_counts()
print(occupation_summary)

### Step 17. What is the mean age of users?

In [ ]:
mean_age = users['age'].mean()
print("Mean age of users:", mean_age)

### Step 18. What is the age with least occurrence?

In [ ]:
least_occurrence_age = users['age'].value_counts().idxmin()
print("Age with least occurrence:", least_occurrence_age)