<a href="https://colab.research.google.com/github/Iveynganga/PYTHON-DATA-ANALYSIS/blob/main/PandasDailyPractice4P4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# US - Baby Names

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv).

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv"

baby_names = pd.read_csv(url)

### Step 3. Assign it to a variable called baby_names.

In [2]:
import pandas as pd

url = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv"

baby_names = pd.read_csv(url)

### Step 4. See the first 10 entries

In [ ]:
print(baby_names.head(10))

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [ ]:
baby_names.drop(['Unnamed: 0', 'Id'], axis=1, inplace=True)

### Step 6. Is there more male or female names in the dataset?

In [3]:
gender_counts = baby_names['Gender'].value_counts()

### Step 7. Group the dataset by name and assign to names

In [4]:
names = baby_names.groupby('Name').sum()

### Step 8. How many different names exist in the dataset?

In [ ]:
num_unique_names = baby_names['Name'].nunique()

### Step 9. What is the name with most occurrences?

In [ ]:
most_common_name = baby_names['Name'].value_counts().idxmax()

### Step 10. How many different names have the least occurrences?

In [5]:
name_counts = baby_names['Name'].value_counts()

min_count = name_counts.min()

names_with_min_count = name_counts[name_counts == min_count]

num_names_with_min_count = len(names_with_min_count)

### Step 11. What is the median name occurrence?

In [ ]:
name_counts = baby_names['Name'].value_counts()

median_name_occurrence = name_counts.median()

### Step 12. What is the standard deviation of names?

In [6]:
name_counts = baby_names['Name'].value_counts()

std_dev_name_occurrence = name_counts.std()

### Step 13. Get a summary with the mean, min, max, std and quartiles.

In [7]:
name_counts = baby_names['Name'].value_counts()

summary_stats = name_counts.describe()